* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Redressed', cursive;
    font-size: 18px;
}

.container {
    background-color: blue;
    height: 84px;
}

a {
    color: white;
    text-decoration: none; 
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    width: 100;
    border-top: 3px solid blue;
}
.nav-item {
    padding-top: 27px;
    padding-left: 65rem;
}

a:hover {
    border-top: 3px solid red; 
    width: 200px;
    transition: 1s;
    
}