* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.navbar {
    background-color: black;
    height: 84px;
}

.nav {
    color: white;
    text-decoration: none; 
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    width: 100;
    border-top: 3px solid black;
}
.nav-item {
    padding-top: 27px;
    padding-left: 55rem;
}

.nav:hover {
    border-top: 3px solid red; 
    width: 200px;
    transition: .7s;
    
}

.container img { 
    width: 400px;
    border-radius: 100rem;
}

.container p, h1 {
    float: right;
    width: 60%;
    color:rgb(74, 74, 74);
    text-align: justify;
}
.container p {
    margin-top: -20rem;
    font-size: 22px;
}

.container {
    width: 82%;
    padding: 8%;
}

footer p {
    background-color: black;
    color: white;
    margin-top: 20rem;
    height: 50px;
    font-size: 16px;
    text-align: center;
    padding-top: 24px;
}

p a {
   font-style: normal;
   text-decoration: none;
   color:black;
}

p a:hover {
    color: lightgreen;
}

section {
    margin-top: 5rem;
    text-align: center;
}

section img {
    margin-left: 10px;
}

section p {
    text-align: justify;
    width: 80%;
    margin-left: 7rem;
    margin-top: 30px;
}
.certifications {
    width: 600px;
}
